:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(to bottom right, #25a2b0, #023a6e);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, #root {
  margin: 0;
  width: 100%;
  display: flex;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

textarea {
  background-color: rgba(255, 255, 255, 0.87);
  color: rgba(0, 0, 0, 0.87);
  display: block;
  border: 1px solid transparent;
  font-size: 1.5em;
  padding: 0.2em 1.2em;
  width: 100%;
}
textarea:hover, textarea:focus, textarea:active {
  border-color: #646cff;
  outline: none;
}

button {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  width: 2em;
  height: 2em;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

input {
  display: block;
  background-color: rgba(255, 255, 255, 0.87);
  color: rgba(0, 0, 0, 0.87);
  width: 40%;
  padding: 0.2em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  font-family: monospace;
  font-size: 1.5em;
}

input:hover, input:focus, input:active {
  border-color: #646cff;
  outline: none;
}

code {
  font-family: monospace;
  font-size: 1.5em;
}
